Grupo: <br>
Carlos Roberto Cordeiro Pereira <br>
João Felipe Morais Vasconcelos Sobral

Primeiro trazemos os dados em um dataframe, e usamos head() e info() para ter uma ver como os dados se apresentam.

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/jfmvs/AM-Projeto-1/main/data.csv')
df.head()

,gender,C_api,C_man,E_NEds,E_Bpag,firstDay,lastDay,NEds,NDays,NActDays,...,NPcreated,pagesWomen,wikiprojWomen,ns_user,ns_wikipedia,ns_talk,ns_userTalk,ns_content,weightIJ,NIJ
0,1,male,1,2,2,20170527205915,20170721044501,543,56,43,...,4,0,0,91,28,6,76,324,0.92,978
1,0,unknown,3,3,1,20110301072441,20170731213735,2764,2345,514,...,7,0,0,100,249,183,646,1526,0.66,477
2,1,male,1,0,2,20060907204302,20140911191722,57,2927,25,...,0,0,0,3,0,1,3,49,0.80,664
3,1,male,1,1,2,20121003144916,20121208180528,104,67,5,...,2,0,0,20,1,2,2,78,1.03,841
4,0,unknown,3,1,1,20070311125035,20141106121057,184,2798,27,...,0,0,0,26,10,5,24,112,1.00,994

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         4746 non-null   int64
 1   C_api          4746 non-null   object
 2   C_man          4746 non-null   int64
 3   E_NEds         4746 non-null   int64
 4   E_Bpag         4746 non-null   int64
 5   firstDay       4746 non-null   int64
 6   lastDay        4746 non-null   int64
 7   NEds           4746 non-null   int64
 8   NDays          4746 non-null   int64
 9   NActDays       4746 non-null   int64
 10  NPages         4746 non-null   int64
 11  NPcreated      4746 non-null   int64
 12  pagesWomen     4746 non-null   int64
 13  wikiprojWomen  4746 non-null   int64
 14  ns_user        4746 non-null   int64
 15  ns_wikipedia   4746 non-null   int64
 16  ns_talk        4746 non-null   int64
 17  ns_userTalk    4746 non-null   int64
 18  ns_content     4746 non-null   int64
 19  weightIJ       4746 non-null   float64
 20  NIJ            4746 non-null   int64
dtypes: float64(1), int64(19), object(1)
memory usage: 778.8+ KB

Usando o a função describe, podemos ver como os dados numéricos estão distribuidos.
Vamos destacar alguns pontos:


*   Temos uma grande variação no NEds, que representa o número de edições feitas pelo usuário. O número varia desde 50 até mais de 100.000. Com isso temos vários outros atributos importantes relacionadas a ele como pagesWomen, que é número de edições em uma página sobre uma mulher, também variando bastante.
*   Consideramos que estes atributos estão muito relacionados, por exemplo: um usuário com o atributo pagesWomen=10 pode ser considerado muito se seu NEds=100, mas pode ser pouco se seu NEds for 2.000.
*   Com isso, optamos por usar esses atributos em forma de uma razão sobre o NEds.

In [ ]:
pd.options.display.float_format = '{:.2f}'.format
df.describe().T

,count,mean,std,min,25%,50%,75%,max
gender,4746.00,0.74,0.59,0.00,0.00,1.00,1.00,2.00
C_man,4746.00,2.08,0.96,1.00,1.00,3.00,3.00,3.00
E_NEds,4746.00,1.48,1.10,0.00,1.00,1.00,2.00,3.00
E_Bpag,4746.00,1.65,1.08,0.00,1.00,2.00,3.00,3.00
firstDay,4746.00,20099417813055.11,35163369148.62,20020114163735.00,20070421145894.00,20091209092717.00,20130404647226.50,20170929215032.00
lastDay,4746.00,20154892225918.93,17481035176.20,20120103173838.00,20140702404393.00,20160721153408.50,20170726826821.75,20171002030328.00
NEds,4746.00,2029.97,7793.30,50.00,95.00,218.00,757.75,153193.00
NDays,4746.00,2036.61,1336.12,1.00,835.25,2035.50,3146.50,5349.00
NActDays,4746.00,183.16,374.03,1.00,24.00,53.00,154.00,3843.00
NPages,4746.00,689.45,3355.30,1.00,29.00,68.00,219.75,94142.00
NPcreated,4746.00,43.48,297.40,0.00,1.00,4.00,14.00,13394.00
pagesWomen,4746.00,0.44,5.33,0.00,0.00,0.00,0.00,185.00
wikiprojWomen,4746.00,0.44,17.83,0.00,0.00,0.00,0.00,949.00
ns_user,4746.00,74.37,246.41,1.00,4.00,14.00,46.00,6041.00
ns_wikipedia,4746.00,74.37,560.78,0.00,0.00,1.00,8.00,24392.00
ns_talk,4746.00,49.95,215.55,0.00,0.00,4.00,19.00,4788.00
ns_userTalk,4746.00,96.08,545.03,0.00,1.00,5.00,22.00,12350.00
ns_content,4746.00,1521.89,6099.01,0.00,61.00,151.00,563.75,115547.00
weightIJ,4746.00,1.00,0.33,0.41,0.83,1.00,1.06,1.87
NIJ,4746.00,867.15,325.93,297.00,664.00,917.00,994.00,1596.00

In [ ]:
# estamos passando essas variaveis de um numero para porcentagem
df['pagesWomen'] =   df['pagesWomen'] / df['NEds']
df['wikiprojWomen'] =   df['wikiprojWomen'] / df['NEds']
df['ns_user'] =   df['ns_user'] / df['NEds']
df['ns_wikipedia'] =   df['ns_wikipedia'] / df['NEds']
df['ns_talk'] =   df['ns_talk'] / df['NEds']
df['ns_userTalk'] =   df['ns_userTalk'] / df['NEds']
df['ns_content'] =   df['ns_content'] / df['NEds']

A mesma ideia foi considerada para gerar novas features considerando o total de dias entre sua primeira e última edição. <p>
Vamos usar a relação do número de dias ativos e também o número de edições por dia como novas features.

In [ ]:
df['NEds/NDays'] = df['NEds']/df['NDays']
df['NActDays/NDays'] = df['NActDays']/df['NDays']

Agora vamos observar os valores únicos:

In [ ]:
df.nunique()

gender               3
C_api                3
C_man                3
E_NEds               4
E_Bpag               4
firstDay          4746
lastDay           4746
NEds              1685
NDays             2855
NActDays           792
NPages            1050
NPcreated          335
pagesWomen         254
wikiprojWomen       56
ns_user           3448
ns_wikipedia      2143
ns_talk           2554
ns_userTalk       2740
ns_content        3848
weightIJ            16
NIJ                 16
NEds/NDays        4682
NActDays/NDays    4505
dtype: int64

NIJ e weightIJ são relativos ao Stratum que combina E_NEds e E_Bpag, por isso temos 16 valores para cada, já que 4x4=16. Como essas informações são a respeito do Stratum, que já é uma informação presente em E_NEds e E_Bpag, vamos remover essas colunas

In [ ]:
df = df.drop(['NIJ','weightIJ'],axis=1)

Outra questão importante foi com relação as datas de primeira postagem e última postagem. As datas se apresentam nos dados com uma precisão até o segundo. Como não queremos descartar esses dados de cara, mas também não queremos colocar informações que podem irrelevantes para os modelos, optamos por representar essas datas como: (ano) + ((mês - 1)/12). Assim, temos por exemplo a representação de julho de 2011 como 2011.5 .

In [ ]:
df['firstDay'] = df['firstDay'].astype(str)
firstMonth = df['firstDay'].str.slice(4, 6).astype(int)
firstYear = df['firstDay'].str.slice(0, 4).astype(int)
df['firstYear'] = firstYear + (firstMonth - 1) /12

df['lastDay'] = df['lastDay'].astype(str)
lastMonth = df['lastDay'].str.slice(4, 6).astype(int)
lastYear = df['lastDay'].str.slice(0, 4).astype(int)
df['lastYear'] = lastYear + (lastMonth - 1) /12
df = df.drop(['firstDay','lastDay'],axis=1)

Vamos agora, definir as variavéis que são categóricas. Para fim de clareza, vamos substituir os valores de 0, 1 e 2 na na categoria para 'unknown', 'male' e 'female'.

In [ ]:

df['gender'] = df['gender'].replace({0: 'unknown', 1: 'male', 2: 'female'})
df['gender'] = df['gender'].astype('category')
df['C_api'] =   df['C_api'].astype('category')
df['C_man'] = df['C_man'].astype('category')
df['E_NEds'] =   df['E_NEds'].astype('category')
df['E_Bpag'] = df['E_Bpag'].astype('category')



df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gender          4746 non-null   category
 1   C_api           4746 non-null   category
 2   C_man           4746 non-null   category
 3   E_NEds          4746 non-null   category
 4   E_Bpag          4746 non-null   category
 5   NEds            4746 non-null   int64
 6   NDays           4746 non-null   int64
 7   NActDays        4746 non-null   int64
 8   NPages          4746 non-null   int64
 9   NPcreated       4746 non-null   int64
 10  pagesWomen      4746 non-null   float64
 11  wikiprojWomen   4746 non-null   float64
 12  ns_user         4746 non-null   float64
 13  ns_wikipedia    4746 non-null   float64
 14  ns_talk         4746 non-null   float64
 15  ns_userTalk     4746 non-null   float64
 16  ns_content      4746 non-null   float64
 17  NEds/NDays      4746 non-null   float64
 18  NActDays/NDays  4746 non-null   float64
 19  firstYear       4746 non-null   float64
 20  lastYear        4746 non-null   float64
dtypes: category(5), float64(11), int64(5)
memory usage: 617.3 KB

Como temos valores desconhecidos com a classificação desconhecida na base de dados, vamos ignora-los num primeiro momento de treinamento do modelo.

In [ ]:
df = df.drop(df[df['gender'] == 'unknown'].index)

É importante pensarmos também na possível utilização dessas linhas com a categoria 'unkown' já que eram boa parte do conjunto de dados. Poderíamos testar já na parte de modelagem a substituição desse valor pela média, mediana ou até criar um modelo simples para preencher esse dado que pode ser considerado 'NaN'.

In [ ]:
df.shape

(3145, 21)

Também é importante checar se temos valores nulos, faltando ou duplicado, verificamos que não temos probelmas quanto a isso.

In [ ]:
print('Null:','\n',df.isnull().sum())
print('Missing values:',df.isna().values.sum())

Null:
 gender            0
C_api             0
C_man             0
E_NEds            0
E_Bpag            0
NEds              0
NDays             0
NActDays          0
NPages            0
NPcreated         0
pagesWomen        0
wikiprojWomen     0
ns_user           0
ns_wikipedia      0
ns_talk           0
ns_userTalk       0
ns_content        0
NEds/NDays        0
NActDays/NDays    0
firstYear         0
lastYear          0
dtype: int64
Missing values: 0

In [ ]:
df.duplicated().sum()

0

Por fim temos nossos dados preparados para os modelos:

In [ ]:
df.head()

,gender,C_api,C_man,E_NEds,E_Bpag,NEds,NDays,NActDays,NPages,NPcreated,...,wikiprojWomen,ns_user,ns_wikipedia,ns_talk,ns_userTalk,ns_content,NEds/NDays,NActDays/NDays,firstYear,lastYear
0,male,male,1,2,2,543,56,43,204,4,...,0.00,0.17,0.05,0.01,0.14,0.60,9.70,0.77,2017.33,2017.50
2,male,male,1,0,2,57,2927,25,25,0,...,0.00,0.05,0.00,0.02,0.05,0.86,0.02,0.01,2006.67,2014.67
3,male,male,1,1,2,104,67,5,66,2,...,0.00,0.19,0.01,0.02,0.02,0.75,1.55,0.07,2012.75,2012.92
5,male,male,3,3,1,1887,4130,197,510,62,...,0.00,0.00,0.00,0.02,0.01,0.88,0.46,0.05,2006.33,2017.67
7,male,unknown,1,3,3,5833,3209,566,376,108,...,0.00,0.03,0.00,0.00,0.03,0.81,1.82,0.18,2008.83,2017.58

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3145 entries, 0 to 4745
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gender          3145 non-null   category
 1   C_api           3145 non-null   category
 2   C_man           3145 non-null   category
 3   E_NEds          3145 non-null   category
 4   E_Bpag          3145 non-null   category
 5   NEds            3145 non-null   int64
 6   NDays           3145 non-null   int64
 7   NActDays        3145 non-null   int64
 8   NPages          3145 non-null   int64
 9   NPcreated       3145 non-null   int64
 10  pagesWomen      3145 non-null   float64
 11  wikiprojWomen   3145 non-null   float64
 12  ns_user         3145 non-null   float64
 13  ns_wikipedia    3145 non-null   float64
 14  ns_talk         3145 non-null   float64
 15  ns_userTalk     3145 non-null   float64
 16  ns_content      3145 non-null   float64
 17  NEds/NDays      3145 non-null   float64
 18  NActDays/NDays  3145 non-null   float64
 19  firstYear       3145 non-null   float64
 20  lastYear        3145 non-null   float64
dtypes: category(5), float64(11), int64(5)
memory usage: 433.8 KB

Para fazer a divisão de dados para treino, teste e validação, precisamos levar usaremos um split estratificado pelo gênero, o que é muito importante neste caso pois os dados estão desbalanceados, com muitos mais ocorrências de 'male'.

In [ ]:
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df, test_size=0.3, random_state=8, stratify=df['gender'])
train_df, valid_df = train_test_split(train_df, test_size=0.2, random_state=8, stratify=train_df['gender'])

X_train, y_train = train_df.drop(['gender'],axis=1), train_df['gender']
X_test, y_test = test_df.drop(['gender'],axis=1), test_df['gender']
X_valid, y_valid = valid_df.drop(['gender'],axis=1), valid_df['gender']

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(X_valid.shape)

(1760, 20)
(944, 20)
(441, 20)

Para alguns modelos, é necessário fazer o uso do OneHotEnconder para se obter valores númericos.

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
onehot = make_column_transformer((OneHotEncoder(handle_unknown='ignore'),['C_api','C_man','E_NEds','E_Bpag']),remainder='passthrough')
X_train1 = onehot.fit_transform(X_train)
X_train1 = pd.DataFrame(X_train1,columns=onehot.get_feature_names_out())

In [ ]:
X_train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1760 entries, 0 to 1759
Data columns (total 30 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   onehotencoder__C_api_female   1760 non-null   float64
 1   onehotencoder__C_api_male     1760 non-null   float64
 2   onehotencoder__C_api_unknown  1760 non-null   float64
 3   onehotencoder__C_man_1        1760 non-null   float64
 4   onehotencoder__C_man_2        1760 non-null   float64
 5   onehotencoder__C_man_3        1760 non-null   float64
 6   onehotencoder__E_NEds_0       1760 non-null   float64
 7   onehotencoder__E_NEds_1       1760 non-null   float64
 8   onehotencoder__E_NEds_2       1760 non-null   float64
 9   onehotencoder__E_NEds_3       1760 non-null   float64
 10  onehotencoder__E_Bpag_0       1760 non-null   float64
 11  onehotencoder__E_Bpag_1       1760 non-null   float64
 12  onehotencoder__E_Bpag_2       1760 non-null   float64
 13  onehotencoder__E_Bpag_3       1760 non-null   float64
 14  remainder__NEds               1760 non-null   float64
 15  remainder__NDays              1760 non-null   float64
 16  remainder__NActDays           1760 non-null   float64
 17  remainder__NPages             1760 non-null   float64
 18  remainder__NPcreated          1760 non-null   float64
 19  remainder__pagesWomen         1760 non-null   float64
 20  remainder__wikiprojWomen      1760 non-null   float64
 21  remainder__ns_user            1760 non-null   float64
 22  remainder__ns_wikipedia       1760 non-null   float64
 23  remainder__ns_talk            1760 non-null   float64
 24  remainder__ns_userTalk        1760 non-null   float64
 25  remainder__ns_content         1760 non-null   float64
 26  remainder__NEds/NDays         1760 non-null   float64
 27  remainder__NActDays/NDays     1760 non-null   float64
 28  remainder__firstYear          1760 non-null   float64
 29  remainder__lastYear           1760 non-null   float64
dtypes: float64(30)
memory usage: 412.6 KB

In [ ]:
X_train1.head()

,onehotencoder__C_api_female,onehotencoder__C_api_male,onehotencoder__C_api_unknown,onehotencoder__C_man_1,onehotencoder__C_man_2,onehotencoder__C_man_3,onehotencoder__E_NEds_0,onehotencoder__E_NEds_1,onehotencoder__E_NEds_2,onehotencoder__E_NEds_3,...,remainder__wikiprojWomen,remainder__ns_user,remainder__ns_wikipedia,remainder__ns_talk,remainder__ns_userTalk,remainder__ns_content,remainder__NEds/NDays,remainder__NActDays/NDays,remainder__firstYear,remainder__lastYear
0,0.00,0.00,1.00,1.00,0.00,0.00,0.00,1.00,0.00,0.00,...,0.00,0.06,0.00,0.00,0.03,0.92,0.23,0.06,2015.75,2017.50
1,0.00,1.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,1.00,...,0.00,0.39,0.06,0.02,0.17,0.30,2.22,0.17,2012.25,2017.00
2,0.00,1.00,0.00,1.00,0.00,0.00,0.00,1.00,0.00,0.00,...,0.00,0.01,0.00,0.47,0.01,0.52,0.08,0.02,2010.58,2016.42
3,0.00,0.00,1.00,1.00,0.00,0.00,0.00,1.00,0.00,0.00,...,0.00,0.05,0.04,0.00,0.01,0.86,0.06,0.01,2008.17,2016.50
4,0.00,1.00,0.00,1.00,0.00,0.00,0.00,0.00,1.00,0.00,...,0.00,0.00,0.00,0.00,0.00,1.00,0.18,0.03,2007.67,2016.42

Por fim normalizando as features para que fiquem na mesma escala:

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X_train1)
X_train1 = pd.DataFrame(scaler.transform(X_train1),columns = X_train1 .columns)

## Aplicando os transformadores treinados apenas com o conjunto de trainemento nos de  validação e teste

In [ ]:
X_test1 = pd.DataFrame(onehot.transform(X_test),columns=onehot.get_feature_names_out())
X_valid1 = pd.DataFrame(onehot.transform(X_valid),columns=onehot.get_feature_names_out())

In [ ]:
X_test1 = pd.DataFrame(scaler.transform(X_test1),columns = X_test1.columns)
X_valid1 = pd.DataFrame(scaler.transform(X_valid1),columns = X_valid1.columns)

Para concluir, gostariamos de salientar que o processo de treinamento de modelos de machine learning é um ciclico e requer muita experimentação. Decisões feitas nessa etapa podem ser revisitadas a partir dos resultados obtidos nas próximas etapas, em busca de um melhor modelo.<p>
Algumas alterações como as transformações feitas quanto ao número de edições em certos contextos de seu valor absoluto para porcentagem, serão testadas para atestar se elas melhoram ou não os modelos.